#Sagar{
  background-color: #42A5F5;
  margin: 5%;
}
#profile-pic{
  height: 100px;
  border-radius: 50%;
}

#title{
  font-size: 50px;
  font-family: monospace;

}

#description{
  float: right;
  font-size: 35px;
  font-family: cursive;

}
