#Sagar{
  background-color: #42A5F5;
  margin-top: 5%;
  display: inline-block;
}
#profile-pic{
  float:left;

  width: 15%;
  border-radius: 50%;
  margin: 2%;
}
.about{
  margin: 40px;
  text-align: center;

}

#title{
  font-size: 30px;
  font-family: 'Pacifico';
  color:#FFFF8D;

}

#description{
  text-align: justify;
  color:#FFFF8D;
  font-size: 25px;
  font-family: 'Berkshire Swash';

}


button{
  margin-right:50px;
  height: 40px;
  font-family: 'Nanum Pen Script';
  font-size: 20px;
}
